<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <!-- Spring Configuration -->

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" >
      <object name="UbicacionServicio" type="Servicio.UbicacionServicio, Servicio" singleton="false"/>
      <object name="LoginServicio" type="Servicio.LoginServicio, Servicio" singleton="false" />
      <object name="ClubServicio" type="Servicio.ClubServicio, Servicio" singleton="false" />
      <object name="EmpleadoServicio" type="Servicio.EmpleadoServicio, Servicio" singleton="false" />
      <object name="SedesServicio" type="Servicio.SedesServicio, Servicio" singleton="false" />
    </objects>
  </spring>
</configuration>